body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-container {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    opacity: 0.9;
    width: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.centered-container h1 {
    margin-bottom: 10px;
}

.centered-container ul {
    list-style-type: none;
    padding: 0;
}

.centered-container li {
    margin-bottom: 10px;
}

/* Hyperlink styles */
.centered-container a {
    text-decoration: none;
    color: #333333; /* Default link color */
    font-weight: normal;
    transition: all 0.3s ease; /* Transition for smooth effects */
}

/* Hover effect for hyperlinks */
.centered-container a:hover {
    font-weight: bold;
    color: rainbow; /* Add rainbow color effect using additional CSS rules or JavaScript */
}
.centered-container .about-content {
    display: flex;
    gap: 20px; /* Added gap between photo and text */
}

.centered-container .photo-container {
    width: 30%;
}

.centered-container .drawing-container {
    width: 90%;
}

.centered-container .photo-container img {
    width: 100%;
    max-width: 150px; /* Limit maximum width to 150px */
    height: auto;
}

.centered-container .text-container {
    width: 70%;
    text-align: left;
}

/* Media query for smaller screens (e.g., smartphones) */
@media only screen and (max-width: 767px) {
    .centered-container {
        width: 60%;
    }

    .centered-container .about-content {
        flex-direction: column;
        gap: 10px; /* Reduced gap for smaller screens */
    }

    .centered-container .photo-container,
    .centered-container .text-container {
        width: 100%;
    }
}

